
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/images/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Volcano</strong></h1>
                        <p class="m-b-40">The story is not over once you leave, on the contrary, it has just begun.</p>
                        <p><a class="btn hvr-hover" href="~/Home/Shop">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Volcano</strong></h1>
                        <p class="m-b-40">The story is not over once you leave, on the contrary, it has just begun.</p>
                        <p><a class="btn hvr-hover" href="~/Home/Shop">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Volcano</strong></h1>
                        <p class="m-b-40">The story is not over once you leave, on the contrary, it has just begun.</p>
                        <p><a class="btn hvr-hover" href="~/Home/Shop">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="~/Content/#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="~/Content/#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Categories</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/cauliflower.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Flowers</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/carrot.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Roots</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/cabbage.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Leaves</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/peas.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Pods</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/mushroom.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Fungi</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/categories_img_02.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Vegetables</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/watermelon.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Berry</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/mango.png" alt="" />
                    <a class="btn hvr-hover" href="#">Durpe</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/hazelnuts.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Nuts</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->

<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Lastes blog</h1>
                    <p>In Volcano we are looking for the best results and service</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/Content/images/blog-img.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fresh Products</h3>
                            <p>Our products are always healthy and fresh from our stores to you directly with the best quality and lowest price</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href=""><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/Content/images/blog-img-01.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Customer Service</h3>
                            <p>The story is not over once you leave, on the contrary, it has just begun. We always receive your suggestions and opinions on the hotline 20020.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href=""><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/Content/images/blog-img-02.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Delivery Available</h3>
                            <p>Orders can be delivered directly to the house and with a nominal delivery fee, you just have to contact us and place the order now</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="~/Content/#"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog  -->